{% extends "content/base.html" %}

{% block title %}
    STG Djangocon US 2022
{% endblock %}

{% block header %}
    STG Djangocon US 2022 Challenge
{% endblock %}

{% block content %}
    <h5>Introduction</h5>
    <p class="pb-0">
        <i>Welcome, Challenger!</i>
    </p>
    <p>
        Summit Technology Group (STG) is hosting a challenge for all Django Jedi Masters at Djangocon US 2022. Please see the below challenges for basic requirements and judging criteria. We will be choosing the best submission on the specified date with the grand prize being a new Oculus VR headset.
    </p>
    <p>
        This website is a mock Spotify-Clone platform that is non-customer facing. It is currently under development but it will be used for internal metrics and business insights by backoffice users! Your help is needed in creating a dashboard!
    </p>

    <h5>Challenge #1: Metrics Dashboard</h5>
    <ul>
        <li>Create a dashboard using the provided models and dummy data</li>
            <ul>
                <li>Detailed breakdown per Genre (# of Artists, # of Songs, # of Albums, etc.)</li>
                <li>Detailed song breakdown (# of Songs per Artist, Average length of song, etc.)</li>
                <li>Top 10 Artists by Monthly Listeners (WIP)</li>
                <li>More to come...</li>
            </ul>
        <li>Ensure the queries are as performant as possible. We will be judging on performance!</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</li>
    </ul>
    <p><b>NOTE:</b> <a href="https://www.chartjs.org/">Chart.js</a> has been provided in the templates already for ease of use but any charting package of your preference is welcome. In addition to that, <a href="https://django-debug-toolbar.readthedocs.io/en/latest/">django-debug-toolbar</a> has already been installed and is ready for use so you can fine-tune all of your queries.</p>

    <h5>Challenge #2: Authentication</h5>
    <ul>
        <li>TBD...</li>
    </ul>
{% endblock %}
